@using Michaelsoft.BodyGuard.Common.Utilities
@using Microsoft.AspNetCore.Http
@model Michaelsoft.BodyGuard.Client.Models.Forms.AuthenticationForm
@inject IHttpContextAccessor Accessor
@{
    var nick = JwtUtility.GetUserClaim(Model.UserClaim);
}

@if (nick == null)
{
    <form method="post" asp-area="Authentication" asp-page="/Login">
        <div class="login-form">
            <input type="hidden" asp-for="LoginSuccessArea">
            <input type="hidden" asp-for="LoginSuccessPage">
            <input type="hidden" asp-for="LoginFailureArea">
            <input type="hidden" asp-for="LoginFailurePage">
            <input type="hidden" asp-for="LoginLabel">
            <div class="form-group">
                <div class="bodyguard_form-label">
                    <label asp-for="LoginRequest.EmailAddress"></label>
                </div>
                <div class="bodyguard_form-input">
                    <input type="text" asp-for="LoginRequest.EmailAddress"/>
                </div>
                <div class="bodyguard_form-error">
                    <span asp-validation-for="LoginRequest.EmailAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="bodyguard_form-label">
                    <label asp-for="LoginRequest.Password"></label>
                </div>
                <div class="bodyguard_form-input">
                    <input type="password" asp-for="LoginRequest.Password"/>
                </div>
                <div class="bodyguard_form-error">
                    <span asp-validation-for="LoginRequest.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">@Model.LoginLabel</button>
            </div>
        </div>
    </form>
    <div>
        <span class="registration-link">
            <a asp-area="@Model.RegistrationArea" asp-page="@Model.RegistrationPage">@Model.RegistrationLabel</a>
        </span>
    </div>
    <div>
        <span class="password-recovery-link">
            <a asp-area="@Model.PasswordRecoveryArea" asp-page="@Model.PasswordRecoveryPage">@Model.PasswordRecoveryLabel</a>
        </span>
    </div>
}
else
{
    <form method="post" asp-area="Authentication" asp-page="/Logout">
        <div class="login-form">
            <input type="hidden" asp-for="LogoutSuccessArea">
            <input type="hidden" asp-for="LogoutSuccessPage">
            <input type="hidden" asp-for="LogoutFailureArea">
            <input type="hidden" asp-for="LogoutFailurePage">
            <input type="hidden" asp-for="LogoutLabel">
            <div class="form-group">
                <label>@Model.UserMessage @nick</label>
                <button type="submit" class="btn btn-primary">@Model.LogoutLabel</button>
            </div>
        </div>
    </form>
}