@using Michaelsoft.BodyGuard.Client.Models.Forms
@using Michaelsoft.BodyGuard.Common.Extensions
@model Michaelsoft.BodyGuard.Client.Models.Forms.UpdateForm

@{
    var formStatus = TempData.Get<FormStatus>("FormStatus");
    var userDataProperties = Model.User.GetType().GetUpdatableProperties();
}

<form method="post" asp-area="User" asp-page="/Update">
    <div class="update-form">
        <input type="hidden" name="UpdateForm.SuccessUrl" value="@Model.SuccessUrl">
        <input type="hidden" name="UpdateForm.FailureUrl" value="@Model.FailureUrl">
        <input type="hidden" name="UpdateForm.SubmitLabel" value="@Model.SubmitLabel">
        <input type="hidden" name="UpdateForm.User.Id" value="@Model.User.Id">
        @foreach (var propertyInfo in userDataProperties)
        {
            <div class="form-group">
                <div class="update-label">
                    @Html.Label(propertyInfo.Name)
                </div>
                <div class="update-input">
                    @Html.TextBox($"UpdateForm.User.{propertyInfo.Name}", formStatus.GetAttemptedValue($"UpdateForm.User.{propertyInfo.Name}") ?? propertyInfo.GetValue(Model.User, null))
                </div>
                <div class="update-error">
                    @Html.ValidationMessage(propertyInfo.Name, formStatus.GetError($"UpdateForm.User.{propertyInfo.Name}"))
                </div>
            </div>
        }
        <div class="form-group">
            <button type="submit" class="btn btn-primary">@Model.SubmitLabel</button>
        </div>
    </div>
</form>