@using System.Reflection
@using Michaelsoft.BodyGuard.Client.Interfaces
@using Michaelsoft.BodyGuard.Client.Models.Forms
@using Michaelsoft.BodyGuard.Common.Extensions
@using Michaelsoft.BodyGuard.Common.Models
@using Michaelsoft.BodyGuard.Common.Settings
@using Microsoft.Extensions.Options
@model Michaelsoft.BodyGuard.Client.Models.Lists.UserList
@inject IBodyGuardUserApiService BodyGuardUserApiService
@inject IOptions<CommonSettings> CommonSettings

@{
    List<User> users;
    try
    {
        users = BodyGuardUserApiService.GetUsers().Result;
    }
    catch (Exception)
    {
        return;
    }
    if (!users.Any())
    {
        return;
    }
    var identitySettings = CommonSettings.Value.IdentitySettings;
    var userType = typeof(User);
    var userDataProperties = userType.GetUpdatableProperties();
    var enabledUserDataProperties = identitySettings.EnabledUserDataProperties ?? new List<string>();
    userDataProperties = enabledUserDataProperties.Any() ?
                             userDataProperties.Where(udp => enabledUserDataProperties.Contains(udp.Name)).ToArray() :
                             new PropertyInfo[0];
}

<div class="row mb-3">
    @foreach (var userData in users)
    {
        <div class="col-4 p-2">
            <div class="card">
                <div class="card-header">
                    <div>
                        <dt class="d-inline-block">ID:&nbsp;</dt>
                        <dd class="d-inline-block">@userData.Id</dd>
                    </div>
                </div>
                <div class="card-body">
                    @foreach (var propertyInfo in userDataProperties)
                    {
                        <div>
                            <dt class="d-inline-block">@Html.DisplayName(propertyInfo.GetDisplayName()):&nbsp;</dt>
                            <dd class="d-inline-block">@userType.GetProperty(propertyInfo.Name)?.GetValue(userData, null)</dd>
                        </div>
                    }

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-primary btn-sm btn-block" asp-area="@Model.UpdateArea" asp-page="@Model.UpdatePage" asp-route-id="@userData.Id">@Model.UpdateLabel</a>
                        </div>
                        <div class="col-6">
                            @{
                                await Html.RenderPartialAsync("_DeleteForm", new DeleteForm
                                {
                                    Id = userData.Id,
                                    SuccessArea = Model.SuccessArea,
                                    SuccessPage = Model.SuccessPage,
                                    FailureArea = Model.FailureArea,
                                    FailurePage = Model.FailurePage
                                });
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>