@using Michaelsoft.BodyGuard.Client.Models.Forms
@using Michaelsoft.BodyGuard.Common.Extensions
@using Microsoft.AspNetCore.Mvc.Localization
@model Michaelsoft.BodyGuard.Client.Models.Forms.ValidateRecoveryForm
@inject IViewLocalizer Localizer

@{
    var formStatus = TempData.Get<FormStatus>("FormStatus");
}

<form method="post" asp-area="Authentication" asp-page="/ValidateRecovery">
    <div class="validate-recovery-form">
        <input type="hidden" asp-for="SuccessArea">
        <input type="hidden" asp-for="SuccessPage">
        <input type="hidden" asp-for="FailureArea">
        <input type="hidden" asp-for="FailurePage">
        <input type="hidden" asp-for="SubmitLabel">
        <input type="hidden" asp-for="ValidateRecoveryRequest.Token">
        <div class="form-group">
            <div class="bodyguard_form-label">
                <label asp-for="ValidateRecoveryRequest.EmailAddress"></label>
            </div>
            <div class="bodyguard_form-input">
                <input type="text" class="form-control" asp-for="ValidateRecoveryRequest.EmailAddress" value="@formStatus.GetAttemptedValue("ValidateRecoveryRequest.EmailAddress")"/>
            </div>
            <div class="bodyguard_form-error">
                <span asp-validation-for="ValidateRecoveryRequest.EmailAddress" class="text-danger">@Html.Raw(formStatus.GetError("ValidateRecoveryRequest.EmailAddress"))</span>
            </div>
        </div>
        <div class="form-group">
            <div class="bodyguard_form-label">
                <label asp-for="ValidateRecoveryRequest.NewPassword"></label>
            </div>
            <div class="bodyguard_form-input">
                <input type="password" class="form-control" asp-for="ValidateRecoveryRequest.NewPassword" value="@formStatus.GetAttemptedValue("ValidateRecoveryRequest.NewPassword")"/>
            </div>
            <div class="bodyguard_form-error">
                <span asp-validation-for="ValidateRecoveryRequest.NewPassword" class="text-danger">@Html.Raw(formStatus.GetError("ValidateRecoveryRequest.NewPassword"))</span>
            </div>
        </div>
        <div class="form-group">
            <div class="bodyguard_form-label">
                <label asp-for="ValidateRecoveryRequest.NewPasswordConfirm"></label>
            </div>
            <div class="bodyguard_form-input">
                <input type="password" class="form-control" asp-for="ValidateRecoveryRequest.NewPasswordConfirm" value="@formStatus.GetAttemptedValue("ValidateRecoveryRequest.NewPasswordConfirm")"/>
            </div>
            <div class="bodyguard_form-error">
                <span asp-validation-for="ValidateRecoveryRequest.NewPasswordConfirm" class="text-danger">@Html.Raw(formStatus.GetError("ValidateRecoveryRequest.NewPasswordConfirm"))</span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm btn-block">@Localizer[Model.SubmitLabel]</button>
        </div>
    </div>
</form>